body {
   font-family: 'Roboto Slab', serif !important;
   font-size: 2em;
   border-bottom: 1em solid #0288d1;
}

.container{
  margin-top: 5%;
  margin-bottom: 0.5%;
}
nav {
  background-color: #0288d1;
}

h1 {
  font-size: 3em !important;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif !important;
}

.monthlys-positive {
  color: green;
}
.monthlys-negative {
  color: red;
}
.balance {
  font-size: 72;
  color: #01579b;
}
.module-space {
  width: 100%;
  margin: 0 auto!important;
}

.graph {
  width: 100%;
  height: 100%;
  background: #ddd;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.delete{
    display: none !important;
}
.payments{
  margin-bottom: 5px;
}
